<%= render 'shared/errors', object: @expenditure %>

<div class="row">
	<div class="panel small-10 small-centered columns">
		<div class="small-8 small-centered columns">
		<%= form_for @expenditure do |f| %>
				<div class="row">
					<%= f.label "Amount (required)" %>
					<div class="row collapse">
						<div class="small-2 large-1 columns">
							<span class="prefix">$</span><!-- currency symbol -->
						</div>
						<div class="small-10 large-11 columns">
							<%= f.number_field :amount, min: 0, step: 0.01 %>
						</div>
					</div>
				</div>
				<div class="row">
					<%= f.label "Date (required)" %>
					<%= f.date_field :date %>
				</div>
				<div class="row">
					<%= f.label :name %> 
					<%= f.text_field :name %>
				</div>
				<div class="row">
					<%= f.label :description %>
					<%= f.text_area :description, rows: 5 %>
				</div>
				<div class="row">
				<%= f.label :categories %>
				<%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) %>
				</div>
				<div class="row">
					<%= f.submit(@expenditure.new_record? ? "Add expenditure" : "Update expenditure", class: "button") %>
				</div>
		<% end %>
		</div>
	</div>
</div>

